html,body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1366px;
}
header {
    border-bottom: 1px solid #f1f1f1;
}

:root {
	--bg-color: #e9c46a;
	--contrast-color: #292930;
	
	--time: 2000ms;
	--animation-settings: var(--time) ease infinite;
}
h2, .h2 {
    font-size: 24px;
}
.flex-100 {
    flex: 1 1 100px;
}
.flex-150 {
    flex: 1 1 150px;
}
.flex-200 {
    flex: 1 1 200px;
}
.flex-250 {
    flex: 1 1 250px;
}
.flex-300 {
    flex: 1 1 300px;
}
.flex-350 {
    flex: 1 1 350px;
}
.text-red {
    color: #db2326;
}
.standard-heading {
    font-weight: 600;
}
.top-bar {
    border-bottom: 1px solid #f1f1f1;
}
.navbar {
    height: 80px !important;
    position: relative !important;
    left: 0 !important;
    width: 100% !important;
    
}
.navbar-nav li a {
    color:black;
    font-size:15px;
    font-weight: 600;
    margin:0 2px;
    padding: 10px 13px;
    transition: 0.2s ease-in-out all;
}
.left-navaigation-section .navbar-nav li a i {
    font-size: 26px;
    padding-right: 5px;
    position: relative;
    top: 4px;
}
.navbar-light .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #db2326;
}
.navbar-collapse {
    flex-grow: 0;
}
section#banner {
    vertical-align: middle;
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: left;
    background: url('../images/section-2.webp');
    background-size: cover;
    background-position: center;
}
section#banner h1 {
    color:white;
    font-weight: 800;
    font-size: 60px;
    line-height: 68px;
}

section#banner .card{
box-shadow: none;
border-radius: 0;
}

section#banner .card .nav-tabs li a.active {
    background-color: #db2326;
    color:white;
    border:0;
}
#services .card {
    transition: 0.2s ease-in-out all;
}
#services .card:hover {
   .card-body {
    transition: 0.2s ease-in-out all;

    color:white !important
   }
   .img {
    border-radius: 50%;
    background: white;
   
   }
   cursor: pointer;
    background-color: #db2326;
}
#services .card .img { padding: 10px; transition: 0.3s ease-in-out all;}

#services .card .img img{
    
    height: 50px;
    width:50px;
}

#process {
    margin-top: 40px;;
    background: url('../images/map.png')  no-repeat;
    background-size: cover;
    padding: 90px 0;
    position: relative;
}

#process .container {
    position: relative;
    z-index: 10 !important;
}

#process::before{
    z-index: 1;
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255,0.8);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
footer {
    padding: 50px 0px;
    padding-bottom: 10px;
    background-color: #212529;
}
section#banner {
    position: relative;
}
.divider::after {
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23ffffff"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23ffffff"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23ffffff"/></svg>'); 
   }


    .c2s-subtitle {
        color:white;
        background-color: red;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-flex;
    }


    footer .nav .nav-item .nav-link {
        color:white;
    }
    footer .nav .nav-item .nav-link:hover {
        color:grey;
    }

    #cover{
        padding: 50px 0px;
        background-color: light;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    #cover .row  {
        z-index: 3;
        position: relative;

    }
 .nav-btn, .nav-btn[type="submit"], input[type="submit"] {
    border: 2px solid transparent;
    white-space: nowrap;
    background-image: none !important;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    transition-property: background-color, color, border-color, box-shadow;
}
.nav-btn.-outlined {
    border-color: #db2326;
    color: #db2326;
    background-color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    padding: 0.391rem 0.8rem;
    font-size: 0.812rem;
}
.nav-btn.-outlined:hover {
    color: #ffffff;
    border-color: #db2326;
    background-color: #db2326;
}
.nav-btn.-outlined .nav-btn-link {
    color:#db2326;
    padding: 5px 13px;
}
.nav-btn.-outlined:hover .nav-btn-link {
    color:#ffffff;
}
.quote-item-title {
    font-size: 18px;
    font-weight: 500;
}
.quote-item-desc {
    font-size: 12px;
}
@property --widthSquare {
	syntax:"<length>";
	initial-value: 20px;
	inherits: false;
}
.square {
	width: var(--widthSquare);
	aspect-ratio: 1/1;
	border: 3px solid var(--contrast-color);
	border-radius: .3rem;
	margin-bottom: .2rem;
	transform-origin: 100% 100%;
	animation: roll var(--animation-settings);
}
@keyframes roll {
	25%{
		transform: translate(calc(var(--widthSquare) * -1));
	}
	50%{
		transform:
			rotate(90deg) translateY(var(--widthSquare));
	}
	75%{
		transform:
			rotate(180deg) translateY(var(--widthSquare));
	}
	100%{
		transform:
			rotate(180deg)
			translate(var(--widthSquare), var(--widthSquare));
	}
}

@property --widthScroll {
	syntax:"<length>";
	initial-value: 90px;
	inherits: false;
}
.infinite-scroll{
	position: relative;
	width: calc(var(--widthSquare) * 3);
	height: 2px;
	overflow: hidden;
}

.infinite-scroll::before, .infinite-scroll::after {
	content: "";
	position: absolute;
	width: var(--widthSquare);
	height: 100%;
	background: var(--contrast-color);
}

.infinite-scroll::before {
	left: calc(50% - var(--widthSquare) / 2);
	animation: moveBefore var(--animation-settings);
}
.infinite-scroll::after {
	left: 100%;
	animation: moveAfter var(--animation-settings);
}

@keyframes moveBefore {
	25%{
		left: 0;
	}
	50%{
		left: 0;
	}
	75%{
		left: 0;
	}
	100%{
		left: -30px;
	}
}
@keyframes moveAfter {
	25%{
		left: 100%;
	}
	50%{
		left: calc(100% - var(--widthSquare));
	}
	75%{
		left: calc(100% - var(--widthSquare));
	}
	100%{
		left: calc(50% - var(--widthSquare) / 2);
	}
}
.quote-wrapper {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
}
.quote-header {
    margin: 0px 0px 20px 0px;
    background-color: #0a4e83;
    padding: 15px;
    color: #ffffff;
    border-radius: 5px;
}
.quote-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.quote-protection-cover
 {
     display: inline-flex;
    color: #00bd64;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.quote-protection-cover .quote-protection-tag {
    color: inherit;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.quote-protection-cover .quote-protection-tag .quote-protection-inclusive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4px;
    margin-bottom: 2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: .4em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.quote-protection-cover .quote-protection-tag .quote-protection-upgrade {
    color: #777;
    font-size: .9em;
    text-align: center;
    display: block;
    color: #777;
    padding: 0 0 .2em 0;
}
.payment-options-section {
    padding: 20px;
    background-color: #ffffff;
}
.payment-methods {
    font-size: 1.25em;
    line-height: 1.75rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    opacity: 1;
    background-color: #f9fffb;
    margin-top: 3rem;
}
.identity-section {
    padding: 20px;
    background: #ffffff;
}
.identity-head {
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}
.terms-conditions {
    padding: 20px;
    background-color: #0a4e83;
    color: #ffffff;
    line-height: 30px;
    border-radius: 10px;
}
.terms-conditions a {
    color: #76c3ff;
    text-decoration: none;
}
.terms-conditions a:hover {
    color: #ffffff;
    text-decoration: none;
}
.items-grand-total {
    border-top: 1px solid #e9ecef;
    padding-top: 20px;
    margin-top: 25px;
}
.btn-red {
    background-color: #db2326;
    color: #ffffff;
    font-weight: 500;
}
.btn-red:hover {
    background-color: #ffffff;
    color: #db2326;
    font-weight: 500;
}